
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layui Table</title>
    <link rel="stylesheet" type="text/css" href="../../Content/layui/css/layui.css" />

    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/js/Book.js"></script>

</head>
<body>

    <div style="margin: auto; width: 800px;">
        <div style="height: 100px;"></div>
        <table class="layui-table" id="demo" lay-filter="test"></table>
    </div>

    @*<script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>*@

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>
        var json, layer;

        layui.use('layer', function () {
            layer = layui.layer;
        });

        $(document).ready(function () {
            LayuiTable();

            layui.use('table', function () {
                var table = layui.table;

                //监听行工具事件  test: lay-filter="test"
                table.on('tool(test)', function (obj) {
                    var data = obj.data;

                    if (obj.event === 'del') {
                        var index = layer.confirm('确定删除？', {
                            btn: ['确定', '取消'] //按钮
                        }, function () {
                            var id = data.BookId;
                            var jsondata = { id: id };
                            Bookfunction = DelbookLayui;
                            ajax("DELETE", "DeleteBookOne", jsondata, Bookfunction);
                        });

                    } else if (obj.event === 'edit') {

                        layer.alert(data.BookId);
                    }
                });
            });

            
        });



    </script>
</body>
</html>
