
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updatebook</title>
    <link rel="stylesheet" type="text/css" href="~/Content/layui/css/layui.css" />

    <script src="~/Content/layui/layui.js"></script>
    <script src="~/js/Book.js"></script>
    <script src="~/Content/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div style="margin:auto;">
        <form id="updatebook">
            <div style="height: 60px;"></div>

            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">ID：</label>
                    <div class="layui-input-inline">
                        <input type="number" id="ID" name="ID" lay-verify="required" placeholder="请输入书籍ID" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">书名：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="BookName" name="BookName" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">作者：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Author" name="Author" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">价格：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Price" name="Price" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">出版社：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="Publishing" name="Publishing" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" id="Update" class="layui-btn layui-btn-radius layui-btn-danger">确定</button>
                    <button type="button" id="cancel" class="layui-btn layui-btn-radius layui-btn-danger">取消</button>
                </div>
            </div>

        </form>
    </div>

    <script>
        var layer, Bookfunction, id, jsonID, jsonBookName, jsonAuthor, jsonPrice, jsonPub;

        layui.use('layer', function () {
            layer = layui.layer;
        });

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]);
            return null;
        }

        function GetbookId(Bookfunction) {
            var jsondata = { id: id };
            ajax("GET", "GetBook", jsondata, Bookfunction);
        }

        $(document).ready(function () {
            id = GetQueryString("ID");

            Bookfunction = GetUpdateBook;
            GetbookId(GetUpdateBook);
        });

        $("#Update").on("click", function () {
            var ID = $("#ID").val();
            var BookName = $("#BookName").val();
            var Author = $("#Author").val();
            var Price = $("#Price").val();
            var Publishing = $("#Publishing").val();
            var Priceformat = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;  //验证金额的正则表达式（两位小数）

            if (ID == "" || BookName == "" || Author == "" || Price == "" || Publishing == "") {
                layer.alert('所有信息不能为空', { icon: 5 });
            }
            else if (jsonID == ID && jsonBookName == BookName && jsonAuthor == Author && 
                jsonPrice == Price && jsonPub == Publishing) {

                layer.alert('您没有修改任何信息', { icon: 5 });
            }
            else if (Priceformat.test(Price)) {
                var updateid = 0;  //0没有修改ID, jsonID修改前ID
                if (jsonID != ID) {
                    updateid = jsonID;
                }

                var jsondata = {
                    ID: ID, BookName: BookName, Author: Author,
                    Price: Price, Publishing: Publishing, updateid: updateid
                };
                Bookfunction = AlterBook;
                ajax("PUT", "PutBook", jsondata, Bookfunction);
            }
            else{
                    layer.alert('金额格式错误', { icon: 5 });
            }
        });

            //取消，关闭窗口
        $("#cancel").on("click", function () {
            var layerindex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(layerindex);
        });
    </script>
</body>
</html>
